# alles was nach packages.json über npm install installiert wird
node_modules
node_modules/*

# Abhängigkeiten, welche durch npm über Bower installiert wird
WebContent/bower_components/
WebContent/bower_components/*

#exampleData,
#example_data
#example_data/*

# test install laptop

# infos der entwicklungsumgebung
.idea
.idea/*