<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Filmbearbeitung</title>
</head>
<body>

	<div class="modal-header">
		<div class="row">
			<div class="col-md-12">
				<h3 class="modal-title" ng-bind="header"></h3>
			</div>
		</div>

		<div class="modal-body">
			<div class="well">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="Name" class="control-label col-sm-2">Name:</label>
						<div class="col-sm-5  alert-info" ng-bind="verleiher[vid]['name']"></div>
						<div class="col-sm-5" ng-if="bearbeiten">
							<input type="text" class="form-control" id="Name" placeholder="Name des Verleihs"
								ng-model="thisDistributor.name">
						</div>
					</div>
					<div class="form-group">
						<label for="Ort" class="control-label col-sm-2">Kurzbezeichnung:</label>
						<div class="col-sm-5  alert-info" ng-bind="verleiher[vid]['kurz']"></div>
						<div class="col-sm-5" ng-if="logedInUser.role == 'admin'">
							<div ng-if="bearbeiten">
							<input type="text" class="form-control" id="Kurzbezeichnung" placeholder="Kurzbezeichnung"
								ng-model="thisDistributor.kurz">
							</div></div>
					</div>


					

					<div class="form-group">
						<label for="Email" class="control-label col-sm-2">Email:</label>
						<div class="col-sm-5  alert-info" ng-bind="verleiher[vid]['email']"></div>
						<div class="col-sm-5" ng-if="bearbeiten">
							<input type="email" class="form-control" id="Email" placeholder="Email"
								ng-model="thisDistributor.email">
						</div>
					</div>
					<div class="form-group">
						<label for="Telefon" class="control-label col-sm-2">Telefon:</label>
						<div class="col-sm-5  alert-info" ng-bind="verleiher[vid]['tel']"></div>
						<div class="col-sm-5" ng-if="bearbeiten">
							<input type="tel" class="form-control" id="Telefon" placeholder="Telefonnummer"
								ng-model="thisDistributor.tel">
						</div>
					</div>
					<div class="form-group">
						<label for="Website" class="control-label col-sm-2">Website</label>
						<div class="col-sm-5  alert-info"">
							<a ng-href="{{verleiher[vid]['url']}}" class="alert-link"
								ng-bind="verleiher[vid]['url']"></a>
						</div>
						<div class="col-sm-5" ng-if="bearbeiten">
							<input type="url" class="form-control" id="Website" placeholder="www.irgendwo.de"
								ng-model="thisDistributor.url">
						</div>
					</div>
					<div class="form-group">
						<label for="Trailer" class="control-label col-sm-2">Trailer:</label>
						<div class="col-sm-5  alert-info"">
							<a ng-href="{{verleiher[vid]['trailer']}}" class="alert-link"
								ng-bind="verleiher[vid]['trailer']"></a>
						</div>
						<div class="col-sm-5" ng-if="bearbeiten">
							<input type="url" class="form-control" id="Website" placeholder="www.irgendwo.de"
								ng-model="thisDistributor.trailer">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-12" for="Postanschrift">Postanschrift /
							Lieferanschrift(en) </label>
						<div class="col-sm-7  alert-info" ng-bind="verleiher[vid]['anschrift']"></div>
						<div class=" col-sm-5" ng-if="bearbeiten">
							<textarea class="form-control" rows="3" id="Postanschrift"
								placeholder="Falls für Plakatlieferungen etc. eine andere Adresse ansteht, bitte hier angeben."
								ng-model="thisDistributor.anschrift"></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-12 " for="sonstiges">sonstiges</label>
						<div class="col-sm-7  alert-info" ng-bind="verleiher[vid]['sonstiges']"></div>
						<div class=" col-sm-5" ng-if="bearbeiten">
							<textarea class="form-control" rows="2" id="sonstiges"
								placeholder="zur freien Verfügung. z.B. Name des Ansprechpartners ..."
								ng-model="thisDistributor.sonstiges"></textarea>
						</div>
					</div>
				</form>

		<button ng-if="bearbeitbar" type="button" class="btn btn-warning " ng-click="bearbeitungsmodus()">Verleih
			bearbeiten</button>
		<button ng-if="bearbeiten" type="button" class="btn btn-danger " ng-click="speichern()">Verleih
			speichern</button>
		<button type="button" class="btn btn-success" ng-click="abbrechen()">Abbrechen</button>
			</div>






		</div>


		<div class="modal-footer"></div>
</body>
</html>