<div class="row">
	<div class="col-md-4">
		<h3 class="modal-title" >Film auswählen für</h3>
	</div>

	<!-- 			Titel für Spieler -->
	<div class="col-md-4" ng-show="users[logedInUser.uid].role != 'admin'">
		<h3 class="modal-title" ng-bind="spielortName"></h3>
	</div>

	<!-- 			Titel für Admin -->
	<div class="col-md-4" ng-show="users[logedInUser.uid].role == 'admin' ">
				<select data-ng-show="logedInUser.role == 'admin' " class="form-control"
				data-ng-model="sid" ng-change='getMedienVorOrt(sid)'>
				<option data-ng-repeat="ort in spielorteSortiert" value="{{ort[0]}}">{{ort[1]}}</option>
			</select>
		</div>

	<!-- Datum -->
	<div class="col-md-4">
		<h3 class="modal-title" style="float: right;" ng-bind="sid"></h3>
	</div>

</div>