<!--früher modalfilmwoche-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>Filmbearbeitung</title>
</head>
<body>

<div class="modal-header"
     ng-include="'./components/filme/modalFilmWocheTemplateHeader.html?'">

</div>

<div class="modal-body">
    <div class="well ">
        <div class="row">
            <!-- linke Spalte -->
            <!-- Filmübersicht -->
            <div class="col-md-4">
                <h3>Filme in KW {{kw}}</h3>
                <div class=" inforahmen">
                    <table class="table" style="width: 100%">
                        <tr ng-repeat="buchung in myVerleiBuchungen">
                            <td class="{{buchung.bc}} pointer" ng-bind="buchung.titel"
                                ng-click="loadBuchbar(buchung.vBID)"></td>
                        </tr>
                    </table>
                </div>

                <!-- Wunschübersicht -->
                <h3>Wünsche in KW {{kw}}</h3>
                <div class=" inforahmen">
                    <table class="table" style="width: 100%">
                        <tr class="rounded" ng-repeat="wunsch in myVerleiWunsch">
                            <td class="{{wunsch.bc}} pointer" ng-bind="wunsch.titel"
                                ng-click="loadGewunschen(wunsch.vBID)"></td>
                        </tr>

                        <td ng-show=" logedInUser.role == 'admin' ||  logedInUser.role == 'spieler'  "
                            class="pointer bc-000" ng-click="neuerWunsch()">neuer Wunschfilm</td>

                    </table>
                </div>
            </div>
            <!-- /linke Spalte -->
            <!-- rechte Spalte -->
            <div class="col-md-8">
                <h3 ng-bind="modus.text"></h3>
                <div class="infofenster inforahmen">
                    <h4 ng-bind="modus.hinweis" ng-if="modus.status == 'unbekannt' "></h4>

                    <div ng-show=" modus.status == 'buchbar' ||  modus.status == 'gewunschen' "
                         ng-include="'./components/filme/modalFilmWocheTemplateFilmInfosAnzeigen.html?'"></div>

                    <!-- WUNSCH anlegen oder Film bearbeiten -->
                    <div ng-show=" modus.status == 'neuerWunsch' ||
                        modus.status == 'bearbeiteFilm' ||  modus.status == 'bearbeiteWunsch'"
                         ng-include="'./components/filme/modalFilmWocheTemplateFilmBearbeiten.html?'">



                    </div>
                    <!-- Ende Wunschfilm anlegen -->
                </div>
            </div>
            <!-- / rechte Spalte -->

        </div>
    </div>
</div>

<div class="modal-footer"
     ng-include="'./components/filme/modalFilmWocheTemplateFooter.html?'">
</div>
</body>
</html>