<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>

</head>
<body>
	<div class="modal-header" ng-class="bc=kwInfos.bc">
		<div class="row">
			<h3 class="col-md-10 modal-title">{{verleihBuchungen[kwInfos.vBID].titel}}</h3>
			<h3 class="col-md-2 modal-title">{{datum}}</h3>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">

			<div class="col-md-2">ID Spielort</div>
			<div class="col-md-1">i.O.i.O.</div>

			<div class="col-md-2">Medium</div>
			<div class="col-md-2">#</div>
			<div class="col-md-2">Medium von</div>
			<div class="col-md-2">Medium nach</div>
		</div>
		<div class="row">

			<div class="col-md-2">{{::buchung.fBID}} {{::refOrt[1]}}</div>
			<div class="col-md-1">
				<input type="checkbox" ng-model="buchungsChanges.check1" /> <input type="checkbox"
					ng-model="buchungsChanges.check2" />
			</div>
			<div class="col-md-2">
				<select class="form-control" data-ng-model="buchungsChanges.medium"
					ng-change='getNeueMedienIDs()'>
					<option value="{{myRingbuchung.medium}}" selected="true">{{myRingbuchung.medium}}</option>
					<option data-ng-repeat="m in medien" value="{{m}}">{{m}}</option>
				</select>
			</div>

			<div class="col-md-2">
				<select class="form-control" data-ng-model="buchungsChanges.medienID"
						ng-change='setNeueMedienID()'>
					<option value="{{medienID}}" selected="true">{{medienID}}</option>
					<option data-ng-repeat="id in medienIDs" value="{{id}}">{{id}}</option>
				</select>
			</div>

			<div class="col-md-2">
				<select class="form-control" data-ng-model="vonOrt[0]" ng-change='changeVonOrt()'>
					<option value="vonOrt[0]" selected="true">{{vonOrt[1]}}</option>
					<option data-ng-repeat="ort in spielorteSortiert" value="{{ort[0]}}">{{ort[1]}}</option>
				</select>
			</div>

			<div class="col-md-2">
				<select class="form-control" data-ng-model="nachOrt[0]" ng-change='changeNachOrt()'>
					<option value="nachOrt[0]" selected="true">{{nachOrt[1]}}</option>
					<option data-ng-repeat="ort in spielorteSortiert" value="{{ort[0]}}">{{ort[1]}}</option>
				</select>
			</div>
		</div>
		<hr>
		<div class="row" ng-class="bc=kwInfos.bc">
			<h3 class="col-md-12 modal-title">{{gesamtBesucher}} zahlende Besucher {{(gesamtEintritt/100.00).toFixed(2)}}€</h3>
		</div>
		<hr>
		<form  data-ng-repeat="anzahl in besucher">
			<div class="row form-group" >
			<div class=" col-md-3"></div>
			<div class=" col-md-2">
				<label>Besucher</label>
				<input  type="number" data-ng-model="besucher[$index][0]" ng-change='changeEintritt($index, 0 )'  class="form-control"  >
			</div>
			<div class="col-md-2">
				<label> Eintritt in cent</label>
				<input type="number" class="form-control" ng-model="besucher[$index][1]"  ng-change='changeEintritt($index, 1 )'  step="10" >
			</div>
			</div>
		</form>


	</div>
	<div class="modal-footer">
		<span class="pull-left">components => filme => modal BuchungsBearbeitung</span>
		<button class="btn btn-success" type="button" ng-click="ok('speichern')">speicher
			Änderungen</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">einfach nur
			abbrechen</button>
		<button class="btn btn-danger" type="button" ng-click="delete()">lösche Buchung</button>
	</div>
</body>
</html>