		<form class="form-horizontal">
			<div class="form-group">
				<label for="Titel" class="control-label col-md-2 col-sm-12">Filmtitel</label>
				<div class="col-sm-12 col-md-9">
					<input type="text" class="form-control" id="Titel" placeholder="Titel eingeben"
						ng-model="filmChanges.titel"/>
				</div>
			</div>

			<div class="form-group">
				<label for="Verleih" class="control-label col-md-2">Verleih</label>
				<div class="col-md-9">
					<select data-ng-model="filmChanges.vid"  selected="true">
						<option  value={{bisherigerVerleih[0]}} selected="true">{{bisherigerVerleih[1]}} </option>
						<option data-ng-repeat="verleih in verleiherSortiert" value="{{verleih[0]}}">{{verleih[1]}}</option>
					</select>
				</div>
			</div>


			<div class="form-group">
				<label for="Trailer" class="control-label col-sm-2">Trailer</label>
				<div class="col-sm-9">
					<input ng-model="filmChanges.trailer" type="url" class="form-control" id="Website"
						placeholder="http://youtu.be/">
				</div>
			</div>

			<div class="form-group">
				<label for="Website" class="control-label col-sm-2">Website</label>
				<div class="col-sm-9">
					<input type="url" class="form-control" id="Website" ng-model="filmChanges.filmseite"
						placeholder="optional: zur Webseite des Films">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2 for="Beschreibung">Text</label>
				<textarea class="col-sm-8 form-control" rows="4" ng-model="filmChanges.text"
					placeholder="Beschreibung"></textarea>
			</div>
			<div class="form-group"></div>
		</form>
		<button ng-show=" modus.status == 'bearbeiteFilm' || modus.status == 'bearbeiteWunsch' "class=" btn btn-success " type="button" ng-click="speicherFilm()">speicher Änderung</button>
		<button ng-show=" modus.status == 'neuerWunsch' "class=" btn btn-success " type="button" ng-click="speicherWunsch()">speicher Wunschfilm</button>
		<button  class=" btn btn-danger " type="button" ng-click="verwerfeAenderung()">verwerfe & zurück</button>
