<!--früher modalfilmwoche-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>Filmbearbeitung</title>
</head>
<body>

<div class="modal-header"
     ng-include="'./components/filme/modalFilmWocheTemplateHeader.html?'+ myVersion">

</div>

<div class="modal-body">
    <div class="well ">
        <div class="row">
            <!-- linke Spalte -->
            <!-- Filmübersicht -->
            <div class="col-md-4">
                <h3>Filme in KW {{kw}}</h3>
                <div class=" inforahmen">
                    <table class="table" style="width: 100%">
                        <tr ng-repeat="mybuchung in myVerleiBuchungen">
                            <td class="{{mybuchung[0]}} pointer" ng-bind="verleihBuchungen[mybuchung[1]].titel"
                                ng-click="loadBuchbar(mybuchung[1])"></td>
                        </tr>
                    </table>
                </div>

                <!-- Wunschübersicht -->
                <h3>Wünsche in KW {{kw}}</h3>
                <div class=" inforahmen">
                    <table class="table" style="width: 100%">
                        <tr class="rounded" ng-repeat="wunsch in myVerleiWunsche">
                            <td class="{{wunsch[0]}} pointer" ng-bind="verleihWunsch[wunsch[1]].titel"
                                ng-click="loadGewunschen(wunsch[1])"></td>
                        </tr>

                        <td ng-show=" logedInUser.role == 'admin' ||  logedInUser.role == 'spieler'  "
                            class="pointer bc-000" ng-click="neuerWunsch()">neuer Wunschfilm</td>

                    </table>
                </div>
            </div>
            <!-- /linke Spalte -->
            <!-- rechte Spalte -->
            <div class="col-md-8">
                <h3 ng-bind="modus.info"></h3>
                <div class="infofenster inforahmen">

                    <div ng-show=" modus.status == 'buchbar' ||  modus.status == 'gewunschen' "
                         ng-include="'./components/filme/modalFilmWocheTemplateFilmInfosAnzeigen.html?'+ myVersion">></div>

                    <!-- WUNSCH anlegen oder Film bearbeiten -->
                    <div ng-show=" modus.status == 'neuerWunsch' ||
                        modus.status == 'bearbeiteFilm' ||  modus.status == 'bearbeiteWunsch'"
                         ng-include="'./components/filme/modalFilmWocheTemplateFilmBearbeiten.html?'+ myVersion">>



                    </div>
                    <!-- Ende Wunschfilm anlegen -->
                </div>
            </div>
            <!-- / rechte Spalte -->

        </div>
    </div>
</div>

<div class="modal-footer"
     ng-include="'./components/filme/modalFilmWocheTemplateFooter.html?'+ myVersion">>
</div>
</body>
</html>