<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>

</head>
<body>
	<div class="container">

		<div data-ng-app="app.dashboard">
			<div data-ng-controller="DashboardCtrl">
				<hr />



                <strong>{{datum | date:'dd.MM.yyyy' }} - {{kw}} -
					vom {{kwDonnerstag | date:'dd.MM.yyyy' }}
					bis {{kwEnde | date:'dd.MM.yyyy' }}
				</strong>

				<div data-ng-if="logedInUser.role == 'verleih'">
					dummy
				</div>
				<div ng-include="'dashboard/templateDashboardFehlendeR.html?1133df1'"></div>

				<div data-ng-if="loggedIn">

                    <hr />
                    <div class="form-group">
                        <div class="col-sm-12">
                              <button type="button" ng-class="details.btn" class="btn"
                              ng-click="toggleDetails()" ng-bind="details.txt"></button>
                        </div>
                    </div>


					<div ng-if="details.status">
					<h2>Kompletter Datensatz Im- und Export.</h2>
                        <div>
                            Speicher die Datensätze 'users', 'spielorte', 'verleiher', 'verleihBuchungen' (Ring beim Verleih), 'filmlauf' (Mit BuchungsID Spielort bei Ring).
                            <button class="btn btn-success" data-ng-click="speicher('datensatzFfK')">speicher 'Datensatz'</button>

                        </div>
						<div>
                            <label for="lade">Oder lade beliebigen Datensatz (komplett, nur users oder in jeder anderen Kombination) aus Datei:: </label>
                            <input id="lade" class="btn btn-warning" type="file" on-read-file="lade('datensatzFfK', $fileContent)" >
                        </div>

					</form>
					<h2>Datenformate!</h2>
					<h4>Boolean</h4>
					<div>
						<strong>loggedIn</strong>: {{loggedIn}}
					</div>

					<h4>Objekte</h4>

					<div>
						<strong>logedInUser</strong>: {{logedInUser}} (könnt vielleicht auf uid reduzeirt
						werden)
					</div>

					<h4>Array von Objekten</h4>

						<strong>users</strong> [{
						<div ng-repeat="  (key , val) in users">{{key}} : {{val}},</div>
						}]
					<form class="form-inline">
						<div class="form-group">
						<button class="btn btn-success" data-ng-click="speicher('users')">speicher 'users'</button>
						</div>

					</form>


					<div>
						<strong>spielorte</strong> [{
						<div ng-repeat="  (key , val) in spielorte">{{key}} : {{val}},</div>
						}]
					</div>
					<form class="form-inline">
						<div class="form-group">
							<button class="btn btn-success" data-ng-click="speicher('spielorte')">speicher 'spielorte'</button>
						</div>

					</form>



					<div>
						<strong>verleiher</strong> [{
						<div ng-repeat="  (key , val) in verleiher">{{key}} : {{val}},</div>
						}]
					</div>
					<form class="form-inline">
						<div class="form-group">
							<button class="btn btn-success" data-ng-click="speicher('verleiher')">speicher 'verleiher'</button>
						</div>
											</form>

					<div>
						<strong>filme</strong> [{
						<div ng-repeat="  (key , val) in filme">{{key}} : {{val}},</div>
						}]
						<form class="form-inline">
							<div class="form-group">
								<button class="btn btn-success" data-ng-click="speicher('filme')">speicher 'filme'</button>
							</div>

						</form>
					</div>
					<div>
						<strong>verleihBuchungen</strong> [{
						<div ng-repeat="  (key , val) in verleihBuchungen">{{key}} : {{val}},</div>
						}] Es handelt sich um Buchungen des Abspielringes beim Verleih mit eindeutiger v- BuchungsID
					</div>
					<form class="form-inline">
						<div class="form-group">
							<button class="btn btn-success" data-ng-click="speicher('verleihBuchungen')">speicher 'verleihBuchungen'</button>
						</div>

					</form>

						<div>
							<strong>ringBuchungen</strong> [{
							<div ng-repeat="  (key , val) in ringBuchungen">{{key}} : {{val}},</div>
							}] Es handelt sich um die Filmbuchungen eines Spielortes beim Abspielringes mit eindeutiger fBID BuchungsID
						</div>
						<form class="form-inline">
							<div class="form-group">
								<button class="btn btn-success" data-ng-click="speicher('ringBuchungen')">speicher 'ringBuchungen'</button>
							</div>

						</form>


					
					<h4>Arrays</h4>
					<div>
						<strong>spielorteSortiert: </strong>[
						<div ng-repeat="  ar in spielorteSortiert">{{ar}},</div>
						]
					</div>
					<div>
						<strong>verleiherSortiert: </strong>[
						<div ng-repeat="  ar in verleiherSortiert">{{ar}},</div>
						]
					</div>
					<div>
						<strong>usersSortiert: </strong>
					</div>
					[
					<div ng-repeat="  ar in usersSortiert">{{ar}},</div>
					]
					<div>
						<strong>filmlauf</strong> [
						<div ng-repeat=" (key , val) in filmlauf">idx {{key}} = [ {{val}} ],</div>
						]
					</div>
					<form class="form-inline">
						<div class="form-group">
							<button class="btn btn-success" data-ng-click="speicher('filmlauf')">speicher 'filmlauf'</button>
						</div>

					</form>

				</div>
                </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>